
* {
    
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: auto;
    /* background-image: url('./img/background_img/guitar-g85826b5d8_1920.jpg'); */
    background-color: rgb(39, 20, 20);
    
}

a {
    color: inherit;
}


.body_container {
    width: 100vw;
    height: 100vh;
    
    color: wheat;
    
    
}

.home_container {
    width: 100%;
    height: 100%;
    background-image: url('./img/background_img/guitar-g85826b5d8_1920.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: -1;
}


.home_container2 {
    width: 100%;
    height: 100%;
    background-color: rgba(7, 158, 228, 0.3);
    /* background-image: url('./img/background_img/music-g822d0d8f8_1920.jpg'); */
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: -1;
}

.home_container2 img {
    margin-left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.home_container2 p {
    position: absolute;
    left: 10%;
    top: 60px;
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: rgb(49, 30, 6);
}

.bible {
    width: 100%;
    
}


.about_container {
    width: 100%;
    height: 100%;
    background-image: url('./img/background_img/production-gcb26bc845_1920.jpg');
    background-position: center;
    background-size: cover;
}

.contact_container {
    width: 100%;
    height: 100%;
    background-image: url('./img/background_img/music-instruments-g38a4d5df4_1920.jpg');
    background-position: center;
    background-size: cover;
}

header {
    display: flex;
    justify-content: center;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-left: 0;
    
}

.title_logo {
    position: absolute;
    
    top: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    text-shadow: 0px 3px 5px #00000009;
    color: wheat;
    
}

.fa-youtube {
    font-size: 50px;
    color: red;
}

.socials {
    position: absolute;
    right: 10%;
    top: 200%;
    width: 300px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.3rem;
    /* background-color: rgba(204, 204, 204, 0.5);
    border-radius: 50px; */
}

.social_icons {
    color: orangered;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    
}

.whatsapp {
    border-radius: 50px;
    padding-right: 5px;
    background-color: rgba(204, 204, 204, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    
}

.whatsapp p {
    font-size: 14px;
    color: orangered;
    font-weight: bold;
}

ul {
    width: 100%;
    height: 100%;
    display: flex;
  
}

li {
    width: 33.33%;
    height: 100%;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

li {
    
    margin-right: 10px;
    
    font-size: 20px;
    line-height: 1em;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.1s ease-in-out;
    -webkit-transition: background 0.1s ease-in-out;
    -moz-transition: background 0.1s ease-in-out;
    -ms-transition: background 0.1s ease-in-out;
    -o-transition: background 0.1s ease-in-out;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    /* background-color: #f06060;
    box-shadow: 0px 3px 0px 0px #cd1313; */
    text-decoration: none;
}

li:hover {
    /* background-color: #ed4444; */
    background-image: url('./img/background_img/guitar-g85826b5d8_1920.jpg');
    background-position: center;
    background-size: cover;
}

li:active {
    box-shadow: 0px 1px 0px 0px #cd1313;
}

.home_info {
    position: absolute;
    bottom: 100px;
    margin-left: 20%;
    width: 100%;
    max-width: 900px;
}

.multimedia_content {
    /* position: absolute;
    bottom: 10%;
    right: 5%; */
    
    padding-top: 10%;
    margin: auto;
    width: 100%;
    margin-bottom: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
    position: relative;
    
}

.home_multimedia {
    
    width: 100%;
    max-width: 300px;
    height: 150px;
    display: flex;
    margin: auto;
    box-sizing: border-box;
    position: relative;
    box-shadow: 10px 13px 10px #0009;
    overflow: hidden;
    border-radius: 5px;
}

.main_video {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    
}

.home_title {
    margin: auto;
    margin-top: 380px;
    font-size: 50px;
}

.home_p {
    width: 100%;
    max-width: 200px;
    font-size: 30px;

}

.about_content {
    width: 100%;
    height: 100%;
        
}



/* #About {
    background-color: #608ef0;
    box-shadow: 0px 3px 0px 0px #1364cd;
} */

#About:hover {
    /* background-color: #449bed; */
    background-image: url('./img/background_img/production-gcb26bc845_1920.jpg');
    background-position: center;
    background-size: cover;
}

#About:active {
    box-shadow: 0px 1px 0px 0px #1364cd;
}

/* #Contact {
    background-color: #78f060;
    box-shadow: 0px 3px 0px 0px #13cd1c;
} */

#Contact:hover {
    /* background-color: #60ed44; */
    color: transparent;
    background-image: url('./img/background_img/music-instruments-g38a4d5df4_1920.jpg');
    background-position: center;
    background-size: cover;
}

#Contact:active {
    box-shadow: 0px 1px 0px 0px #13cd23;
}

/* #content {
    max-width: 80%;
    text-align: center;
    margin: 40px auto;
} */

img {
    width: 100%;
    display: block;
    max-width: 1000px;
    margin: auto;
}


/* .about_container {
    width: 100%;
    background-color: wheat;
} */


@media (min-width: 850px) {
    .navbar {
        position: fixed;
        top: 50px;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        padding-left: 10%;
        
    }

    li {
        width: 100px;
        font-size: 25px;
    }

    .title_logo {
        right: 10%;
        top: 0;
        
    }
    
        
    .socials {
        
        top: 100%;
    }
    
    .home_container2 {
        flex-direction: row;
           
    } 
    
    .home_container2 img {
        margin-left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    
    .home_container2 p {
        position: absolute;
        left: 10%;
        top: 100px;
        width: 100%;
        max-width: 600px;
        display: flex;
        justify-content: center;
        font-size: 25px;
        color: rgb(49, 30, 6);
        
    }
    
    .bible {
        width: 60%;
        
    }

    .home_info {
        margin-top: 38%;
        margin-left: 30%;
        width: 100%;
        max-width: 900px;
    }

    .home_title {
        margin-top: 30px;
        font-size: 50px;
    }
    
    .home_p {
        width: 100%;
        max-width: 800px;
        font-size: 30px;
    
    }

    .multimedia_content {
        /* position: absolute;
        bottom: 10%;
        right: 5%; */
        
        padding-top: 10%;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        
        margin: auto;
        width: 50%;
        
        height: 100%;
        display: flex;
        flex-direction: column;
        
        box-sizing: border-box;
        position: relative;
        
    }
    
    .home_multimedia {
        
        width: 100%;
        max-width: 500px;
        height: 300px;
        display: flex;
        margin: auto;
        box-sizing: border-box;
        position: relative;
        box-shadow: 10px 13px 10px #0009;
        overflow: hidden;
        border-radius: 5px;
    }
    
    
    
}